.wrapper {
  margin: 0 0 50px;
}

.modal {
  position: fixed; /* Stay in place */
	z-index: 5; /* Sit on top */
	left: 0;
	top: -100%;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
  width: 40%;
  position: relative;
}

.modal-text {
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
}

.modal-description {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.modal-trash {
  margin: 10px 0;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 40px;
  background-color: rgba(201, 19, 19, 0.72);
  border: none;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  outline: none;
}

.btn-close {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #fff;
  border: none;
  margin-top: 10px;
  margin-right: 10px;
  outline: none;
}

.more-img {
  max-width: 280px;
}

.more-content {
  margin-left: 40px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: 50%;
}

.more-title {
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.more-release, .more-format, .more-description, .more-starring {
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

.more-release span, .more-format span {
  font-weight: 400;
}

.more-description-text {
  margin-top: 10px;
  font-weight: 400;
  line-height: 1.2;
  text-transform: initial;
  text-align: justify;
}

.more-starlist {
  margin-top: 10px;
}

.more-starlist-item {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.more-starlist-item::after {
  content: ",\00a0\00a0";
}

.more-starlist-item:last-child::after {
  content: "";
}

.more-btn {
  margin: 10px 0;
  display: inline-block;
  padding: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(45, 52, 58);
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 5px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 40px;
  border: 1px solid rgba(0,0,0,.72);
  transition: .5s;
}

.more-btn:hover {
  background-color: rgb(45, 52, 58);
  color: #fff;
}

.btn-trash {
  margin: 10px 0;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 40px;
  background-color:#fff;
  border: 1px solid rgba(201, 19, 19, 0.72);
  color: rgba(201, 19, 19, 0.72);
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: .5s;
}

.btn-trash:hover {
  background-color: rgba(201, 19, 19, 0.72);
  border: 1px solid transparent;
  color: #fff;
}

.btn-trash:focus {
  outline: none;
}